{
    "useTabs": false,
    "singleQuote": false,
    "trailingComma": "all",
    "printWidth": 80,
    "bracketSpacing": true,
    "tabWidth": 4,
    "semi": true,
    "endOfLine": "auto",
    "svelteBracketNewLine": true,
    "plugins": [
        "prettier-plugin-svelte"
    ],
    "pluginSearchDirs": [
        "."
    ],
    "overrides": [
        {
            "files": "*.svelte",
            "options": {
                "parser": "svelte"
            }
        }
    ]
}
